
<h1 class="HomeHeader">A Review Site for Subway Stations!</h1>

<h2 class="StationsHeader">Stations</h2>


<ul>
  <% @stations.each do |station| %>
  <li><a href="/stations/<%= station.id %>"><%= station.name %></a></li>
  <% end %>
</ul>

<% if user_signed_in? %>
  <%= link_to "Add New Station", new_station_path %>
<% end %>
