/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require foundation_and_overrides
 *= require_tree .
 *= require_self

 */
body {
  background-color: #F0F0F0;
  color: #f9f8f6;
  margin-left: 3rem;
  margin-right: 3rem;
}

h1 {
  color: #FF5A09;
}

h2 {
  color: #202020;
}

h4 {
  color: #202020;
}

h5 {
  color: #202020;
}

li {
  color: #202020;
}

a {
  color: #F0F0F0;
  border-radius: 10px;
  padding: .20rem;
  padding-left: .5rem;
  padding-right: .5rem;
  background-color: #FF5A09;
}

a:hover {
    background-color: #004687;
    color: #F0F0F0;
}

label {
  color: #FF5A09;
}

ul {
  margin-left: 50px;
  list-style: none;
  font-size: 20px;
}

.top-bar {
  background-color: #202020;
  color: #F0F0F0;
  margin-left: -3rem;
  margin-right: -3rem;
}

.green-background {
  background-color: #B6B6B6;
  color: #F0F0F0;
}

.HomeHeader {
  margin-left: -10%;
  font-family: Courier;
}

.StationsHeader {
  margin-left: 50px;
  text-decoration: underline;
}

.centered {
  padding: 3rem;
  padding-left: 11rem;
}

.homepic {
  border: 10px solid #004687;
  height: 24rem;
  width: 75%;
  background-size: cover;
  overflow: hidden;
  border-radius: 3rem;
  float: right;
  padding-right: 2rem;
  margin-right: -5rem;
}

.stations-list {
  margin-left: 3rem;
}

/*ul.edit-delete {
  background-color: #005542;
  float: left;
  margin-right: 1rem;
  margin-left: 0;
}

.edit-delete {
  float: left;
  margin-right: 1.0rem;
  margin-left: 0;
  color: #f8f8f9;
  padding: 0.3rem;
  border: 0;
  font-size: 1.0rem;
  font: #005542;
  text-align: center;
}*/

.bottom_bar_show {
  text-align: center;
}

.inline {
  padding-right: 1rem;
  display: inline-block;
  color: #F0F0F0;
}

#img-size {
  height: 45px;
  width: auto;
  border-radius: 25px;
  border: 3px solid #FF5A09;
}

#hometextpic {
  height: 3.75rem;
  padding-bottom: .75rem;
}

#home-compass {
  padding: -1rem;
  color: #F0F0F0;
}

#subway-link:hover {
  background-color: #005542;
}

#search-button {
  background-color: #FF5A09;
  padding-right: .95rem;
}

#search-button-li {
  padding-right: 1rem;
  padding-bottom: 1.05rem;
  color: #F0F0F0;
}

#search-form {
  padding-left: .75rem;
  padding-bottom: 1.05rem;
}

#upvote .button_to input{
 background-color:#44c767;
 -moz-border-radius:26px;
 -webkit-border-radius:26px;
 border-radius:26px;
 border:1px solid #18ab29;
 display:inline-block;
 cursor:pointer;
 color:#ffffff;
 font-family:Arial;
 font-size:19px;
 padding:18px 25px;
 text-decoration:none;
 text-shadow:0px 1px 0px #2f6627;
}
#upvote .button_to input{
 background-color:white;
 color:green
}
#upvote .button_to input{
 position:relative;
 top:1px;
}

#downvote .button_to input{
 background-color:#44c767;
 -moz-border-radius:26px;
 -webkit-border-radius:26px;
 border-radius:26px;
 border:1px solid red;
 display:inline-block;
 cursor:pointer;
 color:#ffffff;
 font-family:Arial;
 font-size:19px;
 padding:18px 25px;
 text-decoration:none;
 text-shadow:0px 1px 0px #2f6627;
}
#downvote .button_to input{
 background-color:white;
 color:red
}
#downvote .button_to input{
 position:relative;
 top:1px;
}

#downvoted .button_to input{
 background-color:#44c767;
 -moz-border-radius:26px;
 -webkit-border-radius:26px;
 border-radius:26px;
 border:1px solid red;
 display:inline-block;
 cursor:pointer;
 color:#ffffff;
 font-family:Arial;
 font-size:19px;
 padding:18px 25px;
 text-decoration:none;
 text-shadow:0px 1px 0px #2f6627;
}
#downvoted .button_to input{
 background-color:red;
 color:white
}
#downvoted .button_to input{
 position:relative;
 top:1px;
}

#upvoted .button_to input{
 background-color:#44c767;
 -moz-border-radius:26px;
 -webkit-border-radius:26px;
 border-radius:26px;
 border:1px solid #18ab29;
 display:inline-block;
 cursor:pointer;
 color:#ffffff;
 font-family:Arial;
 font-size:19px;
 padding:18px 25px;
 text-decoration:none;
 text-shadow:0px 1px 0px #2f6627;
}
#upvoted .button_to input{
 background-color:green;
 color:white
}
#upvoted .button_to input{
 position:relative;
 top:1px;
}

.review-body{
  padding-bottom: 0.5rem;
  color: black;
}

#twitter-link{
  padding-top: 0.5rem;
  padding-left: 57rem;
}
/*#fff200
#005542
#f9f8f6*/
